<div class="wrapper-masthead">
  <div class="container">
    {% if paginator.page == 1 %}
      <header class="clearfix home-header">
      {% else %}
      <header class="clearfix home-header --condensed">
    {% endif %}
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <img src="{{ site.avatar }}" />
        </a>
      {% endif %}
      <a href="{{ site.baseurl }}/">
        <div class='site-name'>
          <h1>{{ site.name }}</h1>
        </div>
      </a>
      
      {% if paginator.page == 1 %}
        <hr />
        <p>{{ site.description }}</p>
      {% endif %}
    </header>
  </div>
</div>

